# Drop everything you don’t want in the build context
.git
.bfg-report
.env*
*.tfstate*
*.tfplan
.terraform/
infra/
terratest/
spec/
log/
tmp/
storage/
db/
vendor/
node_modules/
run-integration.sh
docker-compose.yml
README.md

# Whitelist what you need for the build
**
!Dockerfile
!Gemfile
!Gemfile.lock
!app/
!bin/
!config/
!db/
!lib/
!public/
!Rakefile
!config.ru

terraform.tfvars